.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b8d432;
  border-color: #b8d432;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b8d432;
  border-color: #b8d432;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b8d432;
  border-color: #b8d432;
}

.btn-primary {
  background-color: #b8d432!important;
  border-color: #b8d432!important;
  color: #fff!important;
}

ul li {
  color: white;
}
a:hover {
  color: #b8d432;
  text-decoration: underline;
}

a:active, a:focus, a:hover {
  color: #b8d432;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #b8d432;
  border-color: #b8d432;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #d2e380!important;
  border-color: rgba(184,212,50,0.59)!important;
}

a:hover {
  color: #114c5e;
  text-decoration: underline;
}

a:active, a:focus, a:hover {
  color: #155d74;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}


.shadow {
  box-shadow: 0px 10px -14px 14px #FFF;
}

.list {
display: inline-block;
list-style-type: none !important;
text-align: left;

}
